<div class="container">
  <h1 class="display-1">Nouveau restaurant</h1>
  <%= render "form", restaurant: @restaurant %>
  <%= link_to "Back", restaurants_path, class: "btn btn-primary mt-3" %>
</div>
